<div class="container">
  <div class="card">
    <h2> <%= @flat.name %></h2>
    <p> <%= @flat.address %></p>
  </div>
  <div class="card">
    <h2>A bit more about this flat...</h2>
    <p> <%= @flat.description %> </p>
  </div>
  <div class="card">
    <h2>Details</h2>
    <p> <%= @flat.price_per_night %>€ per night </p>
    <p> <%= @flat.number_of_guests %> persons per night maximum </p>
  </div>
</div>
